.gititemfollowing {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  row-gap: 1rem;
  gap: 1rem;
}
.repoitemfollowing {
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  rotate: 1rem;
}
.followinglink a{
  text-decoration:none;
  colour:black;
  background-colour: #fff7d6;
  
}
.name{
  background-color: #fff7d6;
}
.ftext{
  background-colour: #fff7d6;
  text-align:center;
}
